$karmagreen: #3ebb95;

body {
	&.restrict {
		overflow-y: hidden !important;
	}
	overflow-x: hidden !important;
	overflow-y: auto;
	.navbar.navbar-default {
		background: white;
		button {
			float: left;
			border: none;
			border-radius: 0px;
		}
		.navbar-brand {
			img {
				width: 140px;
				top: 20px;
				display: block;
				left: 45%;
				position: absolute;
			}
		}
		ul.navbar-left {
			margin-left: 10%;
		}
		ul.navbar-right {
			margin-right: 10%;
		}
		ul {
			li {
				padding-top: 14px;
				padding-bottom: 14px;
				a {
					color: $karmagreen;
					font-weight: bold;

					&:hover, &:visited, &:active {
						color: $karmagreen;
					}
				}
			}
		}
		#mobileLogoDiv {
			left: 35%;
			position: absolute;
			#mobileLogo {
				display: none;
				img {
					width: 60%;
				}
				@media only screen and (max-width: 450px) {
					display: block;
				}
			}
		}
	}
	.sideNavOverlay {
		z-index: 5;
		display: none;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		background: black;
		opacity: 0.5;
		&.view {
			display: block;
		}
	}
	.sideNav {
		border: 10px solid $karmagreen;
		position: absolute;
		z-index: 10;
		height: 100%;
		background: white;
		width: 60%;
		top: 0;
		left: -60%;
		transition: all 0.3s ease-out;
		&.toggle {
			left: 0%;
		}
		.img-center {
			margin-top: 1em;
			text-align: center;
			img {
				max-width: 70%;
			}
		}
		.NavMainMenu {
			margin-top: 1em;
			ul {
				list-style:none;
				padding-left: 0px;
				margin-bottom: 0px;
				color: #333;
				li {
					cursor: pointer;
					font-size: 1.5em;
					padding: 0.32em 0em 0.32em 30px;
					text-decoration: none;
					a {
						color: #333;
						font-size: 0.7em;
						&:hover, &:visited, &:active {
							color: #333;
							text-decoration: none;
						}
						i {
								font-size: 22px;
								margin-right: 0.5em;
							}
					}
				}
			}
		}
		.leftPanel {
			.row {
				margin-right: 0px;
				margin-left: 0px;
			}
			color: black;
			box-shadow: none !important;
		}

	}

	#wrapper {
		.topRow {
			background: #d6d6d6;
			padding: 1em;
			h3 {
				color: #888;
				margin: 0px;
			}
			@media only screen and (max-width: 450px) {
				text-align: center;	
				margin-bottom: 1em;
				h2 {
					font-size: 1.3em;
				}
			}
		}

		.leftPanel {
			&#wasd {
				@media only screen and (max-width: 768px) {
					display: none;
				}
			}

			box-shadow: 0px 5px 0.5em #888;
			.leftHeading {
				text-align: center;
				background-color: $karmagreen;
				color: white;
			}
			.leftMenu{
				margin-top: 4em;
				font-size: 10px;
				ul {
					
					padding-left: 0px;
					list-style: none;
					li {
						color: #333;
						margin-top: 1em;
						&.getgreen {
							background: $karmagreen;
							color: white;
							&:hover {
								background: $karmagreen;
								color: white;
							}
						}
						&:hover {
							background: #eee;
							span.select2-container--default {
								.select2-selection--single {
								background: #eee;


								} 
							}
						}
						cursor: pointer;
						font-size: 1.5em;
						padding: 0.32em 0em 0.32em 2em;
						
							
							i {
								font-size: 22px;
								margin-right: 0.5em;
							}
						
						span.select2-selection {
							border: 0px;
							
						}
					
						span.select2-container {
							width: calc(100% - 50px) !important
						}
						span.select2-selection__placeholder {
							color:#333;
						}
						span.select2-container--open {
							.select2-selection {
								color: white;
								background: $karmagreen;
								.select2-selection__placeholder {
									color: white;
								}
							}
						}
						span.select2-selection__rendered {
							padding-left: 0px;
						}						
					}
				}
				#greenid {
					background: $karmagreen;
				}
				@media only screen and (max-width: 450px) {
					
						margin-top: -0.6em;
						ul {
							li {
								margin-top: 8px;
								i {
									margin-right: 0.4em;
								}
								
							}
						}
					
				}
			}

		}
		.rightPanel {
			padding-left: 5px;
			#iframe {

				box-shadow: 0px 3px 0.5em #888;
			}
	}
	}	
}