$karmagreen: #3ebb95;

body {
	overflow-x: hidden !important;
	overflow-y: auto;
	.navbar.navbar-default {
		background: white;
		.navbar-brand {
			img {
				width: 140px;
				top: 10px;
				display: block;
				left: 45%;
				position: absolute;
			}
		}
		ul.navbar-left {
			margin-left: 10%;
		}
		ul.navbar-right {
			margin-right: 10%;
		}
		ul {
			li {
				a {
					color: $karmagreen;
					font-weight: bold;

					&:hover, &:visited, &:active {
						color: $karmagreen;
					}
				}
			}
		}
	}

	#wrapper {
		.leftPanel {

			box-shadow: 0px 5px 1em #666;
			.leftHeading {
				text-align: center;
				background-color: $karmagreen;
				color: white;
			}
			.leftMenu{
				margin-top: 1em;
				ul {
					list-style: none;
					li {
						font-size: 1.5em;
						padding: 0.5em 0;
						a {
							color: black;
							&:hover, &:visited, &:active {
								color: black;
								text-decoration: none;

							}
							i {
								font-size: 22px;
								margin-right: 0.5em;
							}
						}
						span.select2-selection {
							border: 0px;
						}
						span.select2-container {
							width: calc(100% - 50px) !important
						}
						span.select2-selection__placeholder {
							color: black;
						}
						
					}
				}
			}
		}
	}	
}